* {
  margin: 0;
  padding: 0;
}

// Цвета для проекта
$background: #0b0c23;
$white: #ffffff;

$header-height: 100px;
$footer-height: 100px;

@mixin input {
  width: 250px;
  border: 1px solid $dark;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

@mixin wrapper_block {
  .topLeft,
  .topRight,
  .bottomLeft,
  .bottomRight {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
  }
  .topLeft {
    top: 0;
    left: 0;
  }
  .topRight {
    right: 0;
    top: 0;
  }
  .bottomLeft {
    left: 0;
    bottom: 0;
  }
  .bottomRight {
    bottom: 0;
    right: 0;
  }
}